<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Imaging" version="23.4.0" targetFramework="net48" />
  <package id="MetadataExtractor" version="2.7.3" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" targetFramework="net48" developmentDependency="true" />
  <package id="XmpCore" version="6.1.10.1" targetFramework="net48" />
</packages>